@model ShopZen.ViewModels.MainHomeViewModel

<h2>Home</h2>

<table class="ta">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Stock
        </th>
        <th>
            CategoryName
        </th>
        <th></th>
    </tr>
    
    
</table>


